html,
body {
  padding: 0;
  margin: 0;
  font-family: Comic Sans MS, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.logo-container {
  text-align: center;
}

.body-container {
  margin: 40px;
}
