html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Comic Sans MS, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.logo-container {
  text-align: center;
}

.body-container {
  margin: 20px;
  text-align: center;
  width: 90%;
}

.button-new {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.button-action {
  margin-top: 2rem;
  font-size: 2rem;
}

.button-role {
  font-size: 1.35rem;
  font-weight: bold;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-number {
  font-size: 1.35rem;
  font-weight: bold;
  text-align: center;
}

.startform-container {
  position: fixed;
  border: 1px solid black;
  width: 850px;
  height: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.grid-container-start {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(9, 35px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

.grid-container-dead {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(10, 35px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

.grid-container-edit {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(12, 35px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
}

/* .grid-item {
  background: lightgray;
} */

.notepad-container {
  /* border: 2px solid black; */
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto 5px auto;
}

.sidenotes-container {
  /* border: 2px solid black; */
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.notepad-alive-container {
  /* border: 2px solid green; */
}
.notepad-dead-container {
  /* border: 2px solid red; */
}

.header-flexbox {
  display: flex;
  /* border: 1px solid purple; */
}
.header-number {
  width: 10%;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: left;
}
.header-confirmed {
  font-size: 1.1rem;
  width: 25%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-suspicious {
  font-size: 1.1rem;
  width: 30%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.header-majority {
  font-size: 2rem;
  width: 35%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.horizontal-line {
  height: 1px;
  width: 50%;
  text-align: center;
  margin: 30px auto 0 auto;
  border-top: 2px solid gray;
}

.notepad-player-card-container {
  display: flex;
  margin: 4px 0;
  align-items: center;
}
.notepad-card-section-number {
  border: 1px solid black;
  font-size: 1.3rem;
  font-weight: bold;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-button {
  border: 1px solid black;
  background-color: lightgray;
  display: inline;
  font-size: 1.1rem;
  width: 15%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-confirmed {
  /* border: 1px solid black; */
  font-size: 1.1rem;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-faction {
  border: 1px solid black;
  font-size: 1.1rem;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.notepad-card-section-alignment {
  border: 1px solid black;
  font-size: 1.1rem;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.notepad-card-section-role {
  border: 1px solid black;
  font-size: 1.3rem;
  width: 18%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.notepad-card-section-suspicious {
  /* border: 1px solid black; */
  font-size: 1.1rem;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-autosuspicion {
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  width: 5%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-note {
  font-size: 1.1rem;
  width: 25%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notepad-card-section-dead-button {
  border: 1px solid black;
  background-color: lightgray;
  font-size: 1.1rem;
  width: 12%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serverity-moderate {
  background-color: #ffc2c2;
  width: 100%;
  height: 100%;
}

.serverity-high {
  background-color: #ff4a4a;
  width: 100%;
  height: 100%;
}

.hover-content {
  display: none;
  border: 1px solid black;
  background-color: lightblue;
}
.serverity-moderate:hover .hover-content {
  display: block;
  position: absolute;
}
.serverity-high:hover .hover-content {
  display: block;
  position: absolute;
}

.disable-outside-clicks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
}

.checkbox {
  width: 52px;
  height: 31px;
  margin: 0px;
}

.input-note {
  width: 100%;
  height: 31px;
  font-size: 0.9rem;
  background-color: #fcf3d9;
  font-family: Comic Sans MS;
  text-align: center;
}

.notepad-game-note {
  font-size: 1.1rem;
  width: 100%;
  min-height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
